.delivery-date-container-checkout .admin__control-text,
.delivery-date-container-checkout .admin__control-select{
    background-color: #f4f4f4!important;
    border-color: #ffffff!important;
    background-image: url(./images/chevron-down.svg)!important;
}
